html {
    background-color: #BCD5D8;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    height: 100%;
}

ul {
    display: inline-block;
    position: absolute;
    list-style: none;
}

li {
    list-style: none;
    display: inline;
}

#classPage {
    display: inline-block;
    position: fixed;
    z-index: 1000;
    top: 2.8%;
    left: 1.6%;
    width: 96.8%;
    height: 94.4%;
    /*background-size: cover;*/
    /*min-height: 0%;*/
    /*padding-bottom: 60%;*/
    /*height: 0;*/
    background-color: white;

}

#classPage .briefInfoBlock {
    display: inline-block;
    position: absolute;
    z-index: 2;
    background-color: #B8D7F1;
    background-size: cover;
    border: thick solid #98BBD7;
    border-bottom: none;
    border-left: none;
    width: 20%;
    height: 43%;
    margin-left: 10%;
    overflow: hidden;
}

#classPage .briefInfoBlock a {
    display: inline-block;
    color: #142535;
    /*width: 100%;*/
    text-align: center;
    vertical-align: middle;
    font-size: 1.1vw;
    white-space: nowrap;
}

#classPage .briefInfoBlock a:hover {
    text-decoration: none;
    color: #d6ad5c;
}


#classPage .contentBlock {
    display: inline-block;
    position: absolute;
    z-index: 2;
    background-color: #DFEDF0;
    background-size: cover;
    border: thick solid #C9D7DA;
    border-bottom: none;
    border-left: none;
    width: 55%;
    /*padding-bottom: 49%;*/
    margin-left: 35%;
    top: 3%;
    height: 94%;
}