body {
    position: relative;
    width: 100%;
    margin: 0;
    height: 0;
}

html {
    background-color: lightblue;
}

#clothesArea {
    display: inline-block;
    position: absolute;
    z-index: 10;
    background-size: cover;
    min-height: 0%;
    top: 2.8%;
    left: 1.6%;
    width: 96.8%;
    height: 94.4%;
    background-color: white;
}

#clothesArea #mainPart {
    display: inline-block;
    width: 95%;
    left: 2.5%;
    top: 4.5%;
    /*padding-bottom: 2%;*/
    height: 91%;
    background-color: white;
    border: 2px solid #f5d76b;
    box-shadow: 0 0 5px 2px #DABD61;
    position: absolute;
}

#clothesArea #mainPart .tab {
    font-family: "Yuppy SC";
    font-weight: normal;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    font-size: 1.5vmax;
}

#clothesArea #mainPart .tab:active, #orderArea #mainPart .tab:hover, #orderArea #mainPart .tab:target {
    color: #DABD61;
    text-shadow: -0.1vmax 0.1vmax 0 #7A6420;
}

.singleClothe{
    position: relative;
    float: left;
    background-color: white;
    border: 2px solid #a3dbe6;
    box-shadow: 0 0 5px 2px #87b4bf;
    width: 23%;
    padding-bottom: 35%;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.singleClothe:hover{
    border: 2px solid #f5d76b;
    box-shadow: 0 0 5px 2px #DABD61;
}

.singleClothe img{
    position: absolute;
    width: 100%;
    /*padding-bottom: 100%;*/
    background-color: white;
    margin-left: 0%;
    margin-top: 0%;
    height: 65%;
}

.singleClothe .priceP{
    position: absolute;
    float: left;
    background-color: white;
    font-size: 1.7vw;
    font-weight: bold;
    color: #DABD61;
    text-shadow: -0.1vw 0.1vw 0 #7A6420;
    width: 23%;
    padding-bottom: 35%;
    margin-left: 2%;
    margin-top: 88%;
    letter-spacing: 0.2vw;
    white-space: nowrap;
}

.singleClothe .nameP{
    text-decoration: none;
    position: absolute;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    font-weight: bold;
    color: #142535;
    margin-left: 2%;
    margin-top: 100%;
    width: 98%;
    word-break: break-word;
}

.singleClothe .userP{
    position: absolute;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    font-weight: bold;
    color: grey;
    margin-left: 2%;
    margin-top: 125%;
}

.singleClothe .infoP{
    position: absolute;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-weight: bold;
    color: #DABD61;
    text-shadow: -0.1vw 0.1vw 0 #7A6420;
    margin-left: 2%;
    margin-top: 142%;
    background-color: #99bfd6;
    border-radius: 10%;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    /* height: 7%; */
    /*min-height: 16px;*/
}