body {
    position: relative;
    width: 100%;
    margin: 0;
    height: 100%;
}

html {
    background-color: lightblue;
    height: 100%;
}

#forumArea {
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 2.8%;
    left: 1.6%;
    width: 96.8%;
    background-size: cover;
    height: auto;
    /*padding-bottom: 60%;*/
    /*height: 0;*/
    background-color: white;
    min-height: 94.4%;
    /*height: 94.4%;*/
    padding-bottom: 2.5%;

}

#forumArea #forumPart {
    display: inline-block;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding-bottom: 2%;
    height: 91%;
    background-color: white;
    border: 2px solid #f5d76b;
    box-shadow: 0 0 5px 2px #DABD61;
    /*min-height: 91%;*/
    background-image: url('../images/bg.png');
    background-size: cover;
}

#forumArea #forumPart #boardNav {
    width: 10%;
    text-align: center;
    /* width: 100%; */
    /* margin-right: 2%; */
    /* position: fixed; */
    z-index: 1000;
    /*background-color: #B8D7F1;*/
    /*border: thick solid #98BBD7;*/
    /*border-bottom: none;*/
    /*border-left: none;*/
    /* float: right */
    /* left: 6%; */
    /* top: 20%; */
    white-space: nowrap;
    font-size: 1vmax;
    position: absolute;
}

#forumArea #forumPart .tab {
    font-family: "Yuppy SC";
    font-weight: normal;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    font-size: 1.5vmax;
}

#forumArea #forumPart .boardIntroduction {
    margin-top: 1%;
    margin-left: 2%;
    width: 96%;
    background-color: rgba(194, 207, 220, 0.44);
}

#forumArea #forumPart .notesArea {
    margin-top: 1%;
    margin-left: 2%;
    width: 96%;
    /*background-color: #c2cfdc;*/
}

#forumArea #forumPart .notesArea .singleNote {
    width: 100%;
    border: thin solid lightgrey;
    border-right: none;
    border-left: none;
    margin-bottom: 1%;
    position: relative;
    padding-bottom: 5%;
}

#forumArea #forumPart .notesArea .singleNote .titleP {
    font-size: 2vmax;
    font-weight: lighter;
    padding: 0.2vmax;
    color: #2a4c70;
    cursor: pointer;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.2vmax;
}

#forumArea #forumPart .notesArea .singleNote .titleP:hover {
    color: #DABD61;
    text-decoration: underline;
    cursor: pointer;
}

#forumArea #forumPart .notesArea .singleNote .userP {
    font-size: 1.2vmax;
    font-weight: lighter;
    padding: 0.2vmax;
    color: #142535;
    cursor: pointer;
    display: block;
    letter-spacing: 0.2vmax;
    width: 20%;
    float: left;
    white-space: nowrap;
}

#forumArea #forumPart .notesArea .singleNote .userP:hover {
    color: #DABD61;
    text-decoration: underline;
    cursor: pointer;
}

#forumArea #forumPart .notesArea .singleNote .timeP {
    font-size: 1vmax;
    font-weight: lighter;
    padding: 0.2vmax;
    color: grey;
    display: block;
    letter-spacing: 0.1vmax;
    width: 20%;
    margin: 0;
    padding: 0;
    margin-top: 0.3%;
    margin-left: 60%;
    white-space: nowrap;
    /*padding-bottom: 1%;*/
    position: absolute;
    bottom: 0;
}

#forumArea #forumPart .notesArea .singleNote .browseIcon {
    width: 2%;
    /*margin-top: -3%;*/
    margin-left: 65%;
    position: absolute;
    bottom: 0;
    min-width: 13px;
}

#forumArea #forumPart .notesArea .singleNote .commentIcon {
    width: 2%;
    margin-top: -3%;
    margin-left: 74%;
    position: absolute;
    bottom: 0;
    min-width: 13px;
}

#forumArea #forumPart .notesArea .singleNote .browseP {
    font-size: 1vmax;
    font-weight: lighter;
    padding: 0.2vmax;
    color: grey;
    display: block;
    letter-spacing: 0.1vmax;
    width: 5%;
    margin: 0;
    padding: 0;
    margin-top: -3%;
    margin-left: 88.5%;
    white-space: nowrap;
    /*padding-bottom: 1%;*/
    position: absolute;
    bottom: 0;
}

#forumArea #forumPart .notesArea .singleNote .commentP {
    font-size: 1vmax;
    font-weight: lighter;
    padding: 0.2vmax;
    color: grey;
    display: block;
    letter-spacing: 0.1vmax;
    width: 5%;
    margin: 0;
    padding: 0;
    margin-top: -3%;
    margin-left: 97.5%;
    white-space: nowrap;
    /*padding-bottom: 1%;*/
    position: absolute;
    bottom: 0;
}

#forumArea #forumPart .postArea {
    margin-top: 2%;
    border: thin solid lightgrey;
    border-right: none;
    border-left: none;
    border-bottom: none;
    display: block;
    width: 100%;
    padding-bottom: 1%;
    /* margin-left: -10%; */
    /* padding: 2%; */
    /*background-color: #c2cfdc;*/
    padding-bottom: 40%;
}

#forumArea #forumPart .postArea .postTitle {
    position: absolute;
    margin-left: 11%;
    margin-top: 1%;
    display: block;
    width: 65%;
    height: 2.2vmax;
    font-size: 1.5vmax;
    letter-spacing: 0.2vmax;
    color: grey;
}

#forumArea #forumPart .postArea .postTitle:focus {
    outline: none;
    border: thin solid #f5d76b;
}

#forumArea #forumPart .postArea .postContent {
    position: absolute;
    margin-left: 11%;
    margin-top: 5%;
    display: block;
    width: 65%;
    height: 20vw;
    font-size: 1.5vmax;
    letter-spacing: 0.2vmax;
    border: thin solid lightgrey;
    color: grey;
}

#forumArea #forumPart .postArea .postContent:focus {
    outline: none;
    border: thin solid #f5d76b;
}

/*#b4d2dd*/
/*#cfdfe1*/
/*#c2cfdc*/
/*#bad0db*/
/*#b5e0de*/
/*#cddbde*/