
.loginButton{
    position: absolute;
    z-index: 100;
    background-color: #97d5dd;
    border-top-color: #2d5064;
    border-right-color: #79b1f0;
    border-top-width: thick;
    border-right-width: thick;
    border-bottom: none;
    border-left: none;
    font-family: "Yuppy SC";
    width: 40%;
    padding-bottom: 0%;
    text-align: center;
    line-height: 130%;
    color: white;
    font-size: 150%;
    margin-top: 110%;
    margin-left: 30%;
}


.label{
    position: absolute;
    z-index: 2;
    background-size:cover;
    width: 14%;
    min-width: 30px;
    padding-bottom: 5.4%;
    margin-top: 60%;
    margin-left: 40%;
}

/*.textInput{*/
    /*position: absolute;*/
    /*z-index: 2;*/
    /*background-color: #97d5dd;*/
    /*border-top-color: #258bb2;*/
    /*border-right-color: #79b1f0;*/
    /*border-top-width: thick;*/
    /*border-right-width: thick;*/
    /*border-left: none;*/
    /*border-bottom: none;*/
    /*width: 40%;*/
    /*font-size: 120%;*/
    /*padding-top: 1%;*/
    /*padding-bottom: 1%;*/
    /*line-height: 120%;*/
    /*color: #142535;*/
/*}*/

.mybt{
    letter-spacing: normal;
    position: absolute;
    z-index: 100;
    background-color: #97d5dd;
    border-top-color: #061117;
    border-right-color: #7bcbff;
    border-top-width: thick;
    border-right-width: thick;
    border-bottom: none;
    border-left: none;
    font-family: "Yuppy SC";
    width: 40%;
    padding-bottom: 0%;
    text-align: center;
    line-height: 130%;
    color: white;
    font-size: 150%;
    margin-top: 110%;
    margin-left: 30%;
}

.mybt:hover{
    color: #142535;
}

.iconImage{
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-size: cover;
    margin-left: 55%;
    margin-top: 4%;
    width: 40%;
    padding-bottom: 0%;
}