html {
    background: #BCD5D8;
    /*min-width: 800px;*/
}

body {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    /*padding-bottom: 165.5%;*/
    background: #BCD5D8;
    margin: 0;
    height: 0;
}

#mainPart {
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 2.8%;
    left: 1.6%;
    width: 96.8%;
    background-size: cover;
    min-height: 0%;
    /*padding-bottom: 100%;*/
    height: auto;
    background: white;
    /*padding-bottom: 2%;*/
}

#mainPage {
    display: inline-block;
    /*position: absolute;*/
    /*left: 0%;*/
    /*top: 0%;*/
    z-index: 0;
    margin: 0;
    background: url(../images/mainBG1.png);
    background-size: cover;
    /*width: 100%;*/
    top: 3vh;
    /*left: 1.6%;*/
    width: 100%;
    /*min-width: 800px;*/
    /*padding-bottom: 40%;*/
    height: 40vw;
}

#searchPanel {
    position: relative;
    z-index: 1;
    background: url(../images/SearchPanel.png);
    background-size: cover;
    width: 29.2%;
    /*min-width: 218px;*/
    /* padding-bottom: 38.2vw; */
    /*height: 38.2%;*/
    top: 1%;
    margin-left: 67%;
    /*height: 0;*/
    height: 98%;
}

#genderLabel {
    position: absolute;
    z-index: 2;
    background: url(../images/GenderLabel.png);
    background-size: cover;
    width: 20%;
    /*min-width: 30px;*/
    padding-bottom: 7.6%;
    margin-top: 35%;
    margin-left: 40%;
}

.genderLine {
    position: absolute;
    z-index: 100;
    text-align: center;
    font-size: 2.2vw;
    color: white;
    margin-top: 33.2%;
    margin-left: 48.5%;
}

#schoolDropDown {
    position: absolute;
    z-index: 100;
    width: 40%;
    padding-bottom: 10%;
    margin-left: 55%;
    margin-top: 79%;
}

.dropdown {
    position: absolute;
    z-index: 100;
    width: 40%;
    padding-bottom: 10%;
    margin-left: 30%;
}

.searchButton {
    position: absolute;
    z-index: 100;
    background-color: #97d5dd;
    border-top-color: #2d5064;
    border-right-color: #79b1f0;
    border-top-width: thick;
    border-right-width: thick;
    border-bottom: none;
    border-left: none;
    font-family: "Yuppy SC";
    width: 40%;
    padding-bottom: 0%;
    text-align: center;
    line-height: 130%;
    color: white;
    font-size: 150%;
    margin-top: 120%;
    margin-left: 30%;
}

.searchButton:hover {
    color: #142535;
    cursor: pointer;
}

#bulletinPage {
    /*position: absolute;*/
    /*left: 0%;*/
    top: 0%;
    z-index: 0;
    margin: 0;
    background: url(../images/mainBG2.png);
    background-size: cover;
    /*width: 100%;*/
    /*min-width: 800px;*/
    height: 40vw;
    width: 100%;
}

#fundBulletin {
    position: absolute;
    z-index: 1;
    display: inline;
    background: url(../images/FundBulletin.png);
    background-size: cover;
    width: 31.25%;
    margin-top: 7%;
    margin-left: 9%;
    /*min-width: 250px;*/
    padding-bottom: 27%;
    height: 0;

}

#fundBulletin #scroll {
    overflow: hidden;
    position: absolute;
    width: 97.5%;
    height: 75%;
    margin-top: 20%;
    background: #97D5DD;
    text-align: center;
    font-size: 1vmax;
}

#transactionBulletin {
    position: absolute;
    z-index: 1;
    display: inline;
    background: url(../images/TransactionBulletin.png);
    background-size: cover;
    width: 31.25%;
    margin-top: 7%;
    margin-left: 59%;
    /*min-width: 250px;*/
    padding-bottom: 27%;
    height: 0;
}

#transactionBulletin #scroll3 {
    overflow: hidden;
    position: absolute;
    width: 97.5%;
    height: 75%;
    margin-top: 20%;
    background: #8dbce3;
    text-align: center;
    font-size: 1vmax;
}

#forumPage {
    /*position: absolute;*/
    /*left: 0%;*/
    top: 0%;
    z-index: 0;
    margin: 0;
    background: #99cbd9;
    background-size: cover;
    width: 100%;
    height: 40vw;
}

#forumPage .forumTitle {
    position: absolute;
    z-index: 1;
    background: url(../images/ForumTitle.png);
    background-size: cover;
    width: 10.5%;
    margin-top: 2.5%;
    margin-left: 5%;
    /*min-width: 84px;*/
    padding-bottom: 37%;
}

.forumArea {
    position: absolute;
    z-index: 1;
    background-color: #99cbd9;
    background-size: cover;
    width: 80%;
    padding-bottom: 38%;
    margin-top: 2.7%;
    margin-left: 16.5%;
    height: 0;
    overflow: hidden;
}

.forumArea > div .forumTable {
    position: absolute;
    z-index: 3;
    width: 94%;
    margin-left: 5%;
    margin-top: 0%;
    background-color: #39576e;
    overflow: hidden;
    height: 96.3%;
    font-size: 1.5vmax;

    /*border: 5px solid #8ccafa;*/
}

.forumArea .forumTable .titleTr {
    width: 80%;
    font-family: "Yuppy SC";
    color: white;
    text-shadow: 0 1px 0 grey;
    white-space: nowrap;
    font-size: 1.5vmax;

}

.forumArea .forumTable .bodyTr {
    width: 100%;
    font-family: Helvetica;
    color: white;
    text-shadow: 0 1px 0 grey;
    height: 0;
    padding-bottom: 5%;
    font-size: 1vmax;
}

.forumArea > div > button {
    display: block;
    position: absolute;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0 2px 0 #39576e;
    background-color: #97d5dd;
    /*border-right: none;*/
    /*border-top-color: #39576e;*/
    /*border-top-width: thick;*/
    /*border-left-color: #39576e;*/
    /*border-left-width: thick;*/
    /*border-bottom-color: #7bcbff;*/
    /*border-bottom-width: thick;*/
    font-family: "Yuppy SC";
    text-align: center;
    vertical-align: middle;
    horiz-align: center;
    color: white;
    margin-top: 0%;
    margin-left: 0%;
    width: 5%;
    height: 50%;
    overflow: hidden;
    line-height: 120%;
    border: none;
    outline: none;
    font-size: 1.2vmax;

}

.forumArea > div > button:active {
    outline: none;
}

.forumArea > div > button:hover {
    color: #d6ad5c;
    text-shadow: 0 2px 0 #866536;

}

/*.table1{*/
/*z-index: 100;*/
/*background: none repeat scroll 0 0 #39576e;*/
/*text-shadow: 0 2px 0 grey;*/
/*}*/

/*.forumArea > div:not(:target) > a {*/
/*background: none repeat scroll 0 0 #97d5dd;*/
/*text-shadow: 0 2px 0 #39576e;*/
/*}*/

/*.forumArea> div:target > a {*/
/*z-index: 100;*/
/*background: none repeat scroll 0 0 #39576e;*/
/*text-shadow: 0 2px 0 grey;*/
/*}*/

.forumArea .forumTable a {
    font-family: Helvetica;
    color: white;
    text-shadow: 0 1px 0 grey;
    font-size: 100%;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.forumArea .forumTable a:hover {
    text-decoration: underline;
}

.forumArea > div > div {
    position: absolute;
    z-index: -2;
    background-color: #99cbd9;
    background-size: cover;
    width: 80%;
    padding-bottom: 38%;
    margin-top: 86.4%;
    margin-left: 16.5%;
    overflow: hidden;
    height: 50%;
}

/*.forumArea > div:not(:target) > div {*/
/*position: absolute; !* This keeps the tab module contained *!*/
/*}*/

/*.forumArea > div:target > div {*/
/*position: absolute;*/
/*z-index: 4 !important; !* Brings the content to the front depending on the tab that was clicked *!*/
/*}*/

#infoPage {
    position: relative;
    /*left: 0%;*/
    top: 0%;
    z-index: 0;
    margin: 0;
    background: #64bacb;
    background-size: cover;
    width: 100%;
    height: 40vw;
}

#loginPanel {
    position: relative;
    z-index: 1;
    background: url(../images/LoginPanel.png);
    background-size: cover;
    width: 29%;
    /*min-width: 218px;*/
    top: 1%;
    margin-left: 67%;
    /*height: 0;*/
    height: 98%;
}

#signupPanel {
    position: relative;
    z-index: 1;
    background: url(../images/SignupPanel.png);
    background-size: cover;
    width: 29%;
    /*min-width: 218px;*/
    top: 1%;
    margin-left: 67%;
    /*height: 0;*/
    height: 98%;
}

.label {
    position: absolute;
    z-index: 2;
    background-size: cover;
    width: 14%;
    /*min-width: 30px;*/
    padding-bottom: 5.4%;
    margin-top: 60%;
    margin-left: 40%;
}

.textInput {
    position: absolute;
    z-index: 2;
    background-color: #97d5dd;
    border-top-color: #258bb2;
    border-right-color: #79b1f0;
    border-top-width: thick;
    border-right-width: thick;
    border-left: none;
    border-bottom: none;
    width: 40%;
    font-size: 1.5vw;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 120%;
    color: #142535;
    outline: none;
    outline-width: 0px;
    /*height: 7%;*/
}

.uploadBut {
    letter-spacing: normal;
    position: absolute;
    display: inline-block;
    z-index: 100;
    background-color: #39576e;
    text-shadow: -1px 1px 0 #78652d;
    border-color: #d6bd6f;
    /*border-top-color: #041014;*/
    /*border-right-color: #98dcff;*/
    /*border-top-width: thick;*/
    /*border-right-width: thick;*/
    /*border-bottom: none;*/
    /*border-left: none;*/
    font-family: "Yuppy SC";
    width: 10%;
    padding-bottom: 0%;
    text-align: center;
    line-height: 130%;
    color: #d6bd6f;
    margin-top: 32%;
    margin-left: 42%;
    cursor: pointer;
    font-size: 1.5vw;
    white-space: nowrap;
}

.uploadBut:focus, .uploadBut:hover, .uploadBut:active {
    color: #ffffff;
    text-shadow: -1px 1px 0 grey;
    outline-width: 0;
    outline: none;
}

ul li p {
    list-style-type: none;
}

.foot {
    display: inline-block;
    position: absolute;
    margin: 0px;
    width: 100%;
    /*height: 23px;*/
    background: #BCD5D8;
}

.titleP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 3vw;
    color: white;
    text-shadow: -0.05em 0.05em 0px lightgrey;
    margin-top: 27%;
    margin-left: 30%;
}

#fullbg {
    background-color: gray;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 3;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

