body {
    position: relative;
    width: 100%;
    margin: 0;
    height: 0;
}

html {
    background-color: lightblue;
}

#orderArea {
    display: inline-block;
    position: absolute;
    z-index: 10;
    background-size: cover;
    min-height: 0%;
    top: 2.8%;
    left: 1.6%;
    width: 96.8%;
    height: 94.4%;
    background-color: white;
}

#orderArea #mainPart {
    display: inline-block;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    /*padding-bottom: 2%;*/
    height: 91%;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-color: white;
    border: 2px solid #f5d76b;
    box-shadow: 0 0 5px 2px #DABD61;
}

#orderArea #mainPart .tab {
    font-family: "Yuppy SC";
    font-weight: normal;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    font-size: 1.5vmax;
}

#orderArea #mainPart .tab:active, #orderArea #mainPart .tab:hover, #orderArea #mainPart .tab:target {
    color: #DABD61;
    text-shadow: -0.1vmax 0.1vmax 0 #7A6420;
}

#orderArea #mainPart #briefPagePane {
    width: 98%;
    margin-left: 1%;
}
