body {
    position: relative;
    width: 100%;
    margin: 0;
    height: 0;
}

html {
    background-color: lightblue;
}

#orderArea {
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 10;
    margin-left: 23px;
    margin-top: 23px;
    margin-right: 23px;
    background-size: cover;
    min-height: 0%;
    width: 97%;
    height: 0;
    background-color: white;
}

#orderArea #mainPart {
    display: inline-block;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    padding-bottom: 2%;
    background-color: white;
    border: 2px solid #f5d76b;
    box-shadow: 0 0 5px 2px #DABD61;
}

#orderArea #mainPart .tab {
    font-family: "Yuppy SC";
    font-weight: normal;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    font-size: 1.5vmax;
}

#orderArea #mainPart .tab:active, #orderArea #mainPart .tab:hover, #orderArea #mainPart .tab:target {
    color: #DABD61;
    text-shadow: -0.1vmax 0.1vmax 0 #7A6420;
}

.table-head {
    margin: 10px;
    background-color: #c2e2e7;
    border: 1px solid #e8e8e8;
    text-align: center;
    width: 98%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #3c3c3c;
    table-layout: fixed;
}

.table-head tbody tr th {
    font-size: 1.2vmax;
    padding: 0.5vmax;
    font-family: "Yuppy SC";
    color: rgba(20, 38, 53, 0.49);
    text-shadow: -0.1vmax 0.1vmax 0 #5d93b2;
}

#orderArea #mainPart #briefPagePane {
    width: 98%;
    margin-left: 1%;
}

.table-content {
    margin: 10px;
    border: 1px solid #D3E0EB;
    text-align: left;
    width: 98%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.2vmax;
    table-layout: fixed;
    padding-bottom: 10%;
}

.table-content tr td {
    font-size: 1.2vmax;
    padding: 0.2vmax;
    font-weight: bold;
    color: #142635;
}

.table-content tr th {
    font-size: 1.2vmax;
    padding: 0.2vmax;
    font-weight: normal;
    color: #142635;
}

.table-content .table-content-title {
    width: 100%;
    background-color: #D3E0EB;

}

.table-content .table-content-body {
    width: 100%;
    /*background-color: #D3E0EB;*/
    font-size: 1.2vmax;
    padding: 0.2vmax;
    /*font-weight: bold;*/
    color: #142635;
}

.table-content .table-content-body th{
    border: 1px solid #D3E0EB;
}

.table-content .table-content-body img {
    width: 100%;
}

.table-content .table-content-body .imageBox {
    border: 1px solid rgba(0, 0, 0, .05);
    /*border: 1px solid silver\9;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 6vmax;
    height: 6vmax;
    margin-left: 5%;
    /*float: left;*/
}

.table-content .table-content-body .nameP {
    width: 22%;
    word-break: break-word;
    position: absolute;
    margin-left: 8%;
    margin-top: -7%;
}

.table-content .table-content-body a {
    font-size: 1.2vmax;
    padding: 0.2vmax;
    color: #142535;
    text-decoration: underline;
    cursor: pointer;
}

.table-content .table-content-body a:hover {
    color: #DABD61;
    text-decoration: underline;
}

.table-content .table-content-body .orderbt {
    width: 80%;
    margin-left: 10%;
    border-width: medium;
    color: white;
    text-shadow: -0.1vmax 0.1vmax 0 grey;
}