

.table-head {
    margin: 10px;
    background-color: #c2e2e7;
    border: 1px solid #e8e8e8;
    text-align: center;
    width: 98%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #3c3c3c;
    table-layout: fixed;
}

.table-head tbody tr th {
    font-size: 1.2vmax;
    padding: 0.5vmax;
    font-family: "Yuppy SC";
    color: rgba(20, 38, 53, 0.49);
    text-shadow: -0.1vmax 0.1vmax 0 #5d93b2;
}



.table-content {
    margin: 5%;
    border: 1px solid #D3E0EB;
    text-align: left;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.2vmax;
    table-layout: fixed;
    padding-bottom: 10%;
}

.table-content tr td {
    font-size: 3vw;
    padding: 0.2vmax;
    font-weight: bold;
    color: #142635;
    text-align: center;
}

.table-content tr td a {
    font-size: 2.4vw;
    padding: 0.2vmax;
    font-weight: bold;
    color: #142635;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}

.table-content tr td a:hover {
    color: #DABD61;
    text-decoration: underline;
}

.table-content tr th {
    font-size: 3vw;
    padding: 0.2vmax;
    font-weight: normal;
    color: #142635;
    text-align: center;
}

.table-content .table-content-title {
    width: 100%;
    background-color: #D3E0EB;
}

.table-content .table-content-body {
    width: 100%;
    /*background-color: #D3E0EB;*/
    font-size: 1.2vmax;
    padding: 0.2vmax;
    /*font-weight: bold;*/
    color: #142635;
}

.table-content .table-content-body th{
    border: 1px solid #D3E0EB;
}

.table-content .table-content-body img {
    width: 100%;
    max-width: 29.5vw;
    max-height: 29.5vw;
    background-color: white;
    /* margin-left: 0%; */
    /* margin-top: 0%; */
    /* display: table-cell; */
    /* vertical-align: middle; */
    /* text-align: center; */
    /* position: absolute; */
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.table-content .table-content-body .imageBox {
    max-width: 30vw;
    max-height: 30vw;
    /* padding-bottom: 100%; */
    background-color: white;
    /* margin-left: 0%; */
    /* margin-top: 0%; */
    /*height: 65%;*/
    width: 100%;
    /*position: absolute;*/
    height: 15vw;
}

.table-content .table-content-body .nameP {
    width: 22%;
    word-break: break-word;
    position: absolute;
    margin-left: 6%;
    margin-top: -5%;
}

.table-content .table-content-body a {
    font-size: 1.2vmax;
    padding: 0.2vmax;
    color: #142535;
    text-decoration: underline;
    cursor: pointer;
}

.table-content .table-content-body a:hover {
    color: #DABD61;
    text-decoration: underline;
}

.table-content .table-content-body .orderbt {
    width: 80%;
    margin-left: 10%;
    border-width: medium;
    color: white;
    text-shadow: -0.1vmax 0.1vmax 0 grey;
}