html {
    background-color: #BCD5D8;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    height: 100%;
}

ul {
    display: inline-block;
    position: absolute;
    list-style: none;
}

li {
    list-style: none;
    display: inline;
}

#pageBackground {
    display: inline-block;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 0;
    margin: 0;
    /*background: url(../images/infoBG.png);*/
    /*background-size: cover;*/
    /*background-color: ;*/
    min-height: 0%;
    width: 100%;
    padding-bottom: 60%;
    height: 0;
}

#userPage {
    display: inline-block;
    position: fixed;
    z-index: 1000;
    top: 2.8%;
    left: 1.6%;
    width: 96.8%;
    height: 94.4%;
    /*background-size: cover;*/
    /*min-height: 0%;*/
    /*padding-bottom: 60%;*/
    /*height: 0;*/
    background-color: white;

}

#userPage .briefInfoBlock {
    display: inline-block;
    position: absolute;
    z-index: 2;
    background-color: #B8D7F1;
    background-size: cover;
    border: thick solid #98BBD7;
    border-bottom: none;
    border-left: none;
    width: 20%;
    height: 30%;
    margin-left: 10%;
    overflow: hidden;
}

#userPage .briefInfoBlock .titleP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 2.5vmax;
    white-space: nowrap;
    color: #DABD61;
    text-shadow: -0.2vmax 0.2vmax 0 #7A6420;
    margin-top: 0%;
    margin-left: 4%;
}

#userPage .briefInfoBlock .nameP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 1.5vmax;
    white-space: nowrap;
    color: #DABD61;
    text-shadow: -0.1vmax 0.1vmax 0 #7A6420;
    margin-top: 0%;
}

#userPage .briefInfoBlock .labelP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 1.5vmax;
    white-space: nowrap;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    margin-top: 0%;
    text-decoration: none
}

#userPage .briefInfoBlock .contentP {
    display: inline-block;
    position: absolute;
    font-family: "Helvetica";
    font-size: 1vmax;
    /*white-space: nowrap;*/
    color: #ffffff;
    /*text-shadow: -0.1vmax 0.1vmax 0 #7A6420;*/
    margin-top: 0%;
    letter-spacing: 0.2vmax;
    width: 90%;
    overflow: scroll;
    word-wrap: break-word;
}

#userPage .briefInfoBlock a {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: #142535;
    /*text-shadow: -0.1vmax 0.1vmax 0 grey;*/
    width: 50%;
    font-size: 1vmax;
}

#userPage .briefInfoBlock a:hover {
    /*text-decoration: underline;*/
    color: #DABD61;
    /*text-shadow: -0.1vmax 0.1vmax 0 #7A6420;*/
}

#userPage .contentBlock {
    display: inline-block;
    position: absolute;
    z-index: 2;
    background-color: #DFEDF0;
    background-size: cover;
    border: thick solid #C9D7DA;
    border-bottom: none;
    border-left: none;
    width: 55%;
    /*padding-bottom: 49%;*/
    margin-left: 35%;
    top: 3%;
    height: 94%;
}

#userPage .contentBlock .titleP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 3.5vmax;
    white-space: nowrap;
    color: #DABD61;
    text-shadow: -0.2vmax 0.2vmax 0 #7A6420;
    margin-top: 0%;
    margin-left: 4%;
}

#userPage .contentBlock .labelP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 1.5vmax;
    white-space: nowrap;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    margin-top: 0%;
    text-decoration: none
}

#userPage .contentBlock .contentP {
    display: inline-block;
    position: absolute;
    font-family: "Helvetica";
    font-size: 1vmax;
    /*white-space: nowrap;*/
    color: #142535;
    /*text-shadow: -0.1vmax 0.1vmax 0 #7A6420;*/
    letter-spacing: 0.2vmax;
    width: 40%;
}

#userPage .contentBlock img {
    border: 0;
    background: url(../images/male.png) no-repeat;
    width: 2vw;
    height: 2vw;
    display: block;
    position: absolute;
    background-size: cover;
}

#userPage .contentBlock a {
    display: inline-block;
    color: #142535;
    /*width: 100%;*/
    text-align: center;
    vertical-align: middle;
    font-size: 1.1vmax;
}

#userPage .contentBlock a:hover {
    text-decoration: none;
    color: #d6ad5c;
}

#userPage .contentBlock #modifyPasswordArea {
    display: inline-block;
    position: absolute;
    margin-top: 47%;
    margin-left: 65%;
    width: 34%;
    padding-bottom: 40%;
    border: 2px solid #d6bd6f;
    box-shadow: 0 0 5px 2px #d6bd6f;
}

#userPage .contentBlock #modifyPasswordArea .titleP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 2vmax;
    white-space: nowrap;
    color: #DABD61;
    text-shadow: -0.1vmax 0.1vmax 0 #7A6420;
    margin-top: 0%;
    margin-left: 4%;
}

#userPage .contentBlock .singlePerson {
    display: inline-block;
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 10%;
    border: 2px solid #d6bd6f;
    box-shadow: 0 0 5px 2px #d6bd6f;
}

#userPage .contentBlock .singlePerson img {
    border: 0;
    background: url(../images/FundBulletin.png) no-repeat;
    width: 8%;
    padding-top: 8%;
    margin-top: 1.5%;
    margin-left: 3%;
    border-radius: 50%;
    display: block;
    position: absolute;
    background-size: cover;
}

#userPage .contentBlock .singlePerson a {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 1.5vmax;
    white-space: nowrap;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    letter-spacing: 0.2vmax;
    text-decoration: none;
    margin-left: 15%;
    margin-top: 3%;
}

#userPage .contentBlock .singlePerson a:hover {
    color: #DABD61;
    text-shadow: -0.1vmax 0.1vmax 0 #7A6420;
    text-decoration: underline;
}

#userPage .contentBlock .singlePerson p {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 1.5vmax;
    white-space: nowrap;
    color: lightgrey;
    text-shadow: -0.1vmax 0.1vmax 0 grey;
    margin-top: 3%;
    text-decoration: none;
    margin-left: 60%;
}

#userPage .contentBlock .singlePerson button {
    letter-spacing: normal;
    position: absolute;
    z-index: 100;
    background-color: #97d5dd;
    text-shadow: 0 2px 0 grey;
    border-top-color: #1c4658;
    border-right-color: #61aeff;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom: none;
    border-left: none;
    font-family: "Yuppy SC";
    padding-bottom: 0%;
    text-align: center;
    color: white;
    font-size: 1vmax;
    width: 15%;
    margin-left: 83%;
    margin-top: 3.7%
}

#userPage .contentBlock .singlePerson button:focus, #userPage .contentBlock .singlePerson button:hover, #userPage .contentBlock .singlePerson button:active {
    color: #142535;
    text-shadow: 0 2px 0 lightgrey;
    outline-width: 0;
    outline: none;
}

#userPage .contentBlock .singleRecord {
    display: inline-block;
    position: absolute;
    margin-top: 15%;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 12%;
    border: 2px solid #d6bd6f;
    box-shadow: 0 0 5px 2px #d6bd6f;
}

#userPage .contentBlock .subtitle {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 2vmax;
    white-space: nowrap;
    color: #DABD61;
    text-shadow: -0.1vmax 0.1vmax 0 #7A6420;
    letter-spacing: 0.2vmax;
    text-decoration: none;
    left: 60%;
    /*top: -0.5%;*/
}

#userPage .contentBlock .singleRecord .labelP {
    display: inline-block;
    position: absolute;
    font-family: "Yuppy SC";
    font-size: 1.5vmax;
    white-space: nowrap;
    color: #87b4bf;
    text-shadow: -0.1vmax 0.1vmax 0 #315770;
    letter-spacing: 0.2vmax;
    text-decoration: none;
}

/*#userPage .contentBlock #modifyPasswordArea button{*/
/*display: inline-block;*/
/*position: absolute;*/
/*font-family: "Yuppy SC";*/
/*font-size: 1vmax;*/
/*white-space: nowrap;*/
/*color: #DABD61;*/
/*text-shadow: -0.1vmax 0.1vmax 0 #7A6420;*/
/*border: none;*/
/*background-color: white;*/
/*margin-top: 0%;*/
/*margin-left: 4%;*/
/*width: 20%;*/
/*}*/

.iconButton {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    width: 10%;
    padding-top: 9%;
    margin-left: 2%;
    border: none;
}

.genderButton {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    width: 1vw;
    height: 1vw;
    margin-left: 2%;
    border: none;
    min-height: 12px;
}

.iconButton:hover {
    cursor: hand;
}

.iconImage {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-size: cover;
    margin-left: 55%;
    margin-top: 9%;
    width: 40%;
    padding-bottom: 0%;
}

#my-popup input{
    position: absolute;
    z-index: 2;
    background-color: #97d5dd;
    border-top-color: #258bb2;
    border-right-color: #79b1f0;
    border-top-width: thick;
    border-right-width: thick;
    border-left: none;
    border-bottom: none;
    width: 40%;
    font-size: 1.2vmax;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 120%;
    color: #142535;
    outline: none;
    outline-width: 0px;
    height: 7%;
}