<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定我们的到具体的bean -->
<mapper namespace="nju.mapper.ClothesMapper">
    <insert id="add" parameterType="Clothes">
        INSERT INTO clothes
        (clothesID, schoolName, clothessize, clothesType, clothesPrice, donorID, gender, status)
         VALUES
        (#{clothesID}, #{schoolName}, #{size}, #{type},#{price},#{donor}, #{gender},#{status})
    </insert>

    <update id="update" parameterType="Clothes">
        UPDATE clothes
        SET
        schoolName=#{schoolName}, clothessize=#{size}, clothesType=#{type},clothesPrice=#{price},donorID=#{donor},
        gender=#{gender}, status=#{status}
        WHERE
        clothesID=#{clothesID}
    </update>

    <select id="findOneByID" parameterType="String" resultType="Clothes">
        SELECT * FROM clothes WHERE clothesID=#{ID}
    </select>

    <select id="findAll" resultType="Clothes">
        SELECT * FROM clothes
    </select>

    <select id="findByAttribute" parameterType="nju.utils.ClothesQueryHelper" resultType="Clothes">
        SELECT * FROM clothes
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="schoolName != null">
                schoolName=#{schoolName}
            </if>
            <if test="size != null">
                AND clothessize=#{size}
            </if>
            <if test="type != null">
                AND clothesType=#{type}
            </if>
            <if test="gender != null">
                AND gender=#{gender}
            </if>
            <if test="donor != donor">
                AND donorID=#{donor}
            </if>
            <if test="status != null">
                AND status=#{status}
            </if>
        </trim>
    </select>
</mapper>