<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定我们的到具体的bean -->
<mapper namespace="nju.mapper.ClothesMapper">
    <insert id="add" parameterType="Clothes">
        INSERT INTO clothes
        (clothesID, schoolName, clothesHeight, clothesWeight,clothesType, donorID, gender, status)
         VALUES
        (#{clothesID}, #{schoolName}, #{clothesHeight}, #{clothesWeight},#{clothesType},#{donorID}, #{gender},#{status})
    </insert>

    <update id="update" parameterType="Clothes">
        UPDATE clothes
        SET
        schoolName=#{schoolName}, clothesHeight=#{clothesHeight},
        clothesWeight=#{clothesWeight},
        clothesType=#{clothesType},donorID=#{donorID},
        gender=#{gender}, status=#{status}, times=#{times}
        WHERE
        clothesID=#{clothesID} AND auto_id=#{auto_id}
    </update>

    <update id="updateTimes" parameterType="String">
        UPDATE clothes
        SET
        times=clothes.times+1
        WHERE clothesID=#{0}
    </update>

    <select id="findOneByClothesID" parameterType="String" resultType="Clothes">
        SELECT * FROM clothes WHERE clothesID=#{ID}
    </select>

    <select id="findOneByAutoID" parameterType="Integer" resultType="Clothes">
        SELECT * FROM clothes WHERE auto_id=#{0}
    </select>

    <select id="findAll" resultType="Clothes">
        SELECT * FROM clothes
    </select>

    <select id="findByAttribute" parameterType="nju.utils.ClothesQueryHelper" resultType="Clothes">
        SELECT * FROM clothes
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="schoolName != null">
                schoolName=#{schoolName}
            </if>
            <if test="clothesHeight != null">
                AND clothesHeight=#{clothesHeight}
            </if>
            <if test="clothesWeight != null">
                AND clothesWeight=#{clothesWeight}
            </if>
            <if test="clothesType != null">
                AND clothesType=#{clothesType}
            </if>
            <if test="gender != null">
                AND gender=#{gender}
            </if>
            <if test="donorID != null">
                AND donorID=#{donorID}
            </if>
            <if test="status != null">
                AND status=#{status}
            </if>
        </trim>
    </select>

    <insert id="addPic">
        INSERT INTO clothes_pics
        (clothes_id, pic_url)
        VALUES (#{0}, #{1})
    </insert>

    <select id="findPicsByClothesID" parameterType="String" resultType="String">
        SELECT pic_url FROM clothes_pics
        WHERE clothes_id=#{clothes_id}
    </select>

    <delete id="removePic" parameterType="String">
        DELETE FROM clothes_pics
        WHERE clothes_id=#{0} AND pic_url=#{1}
    </delete>

    <insert id="addClothesHistory" parameterType="ClothesHistory">
        INSERT INTO clothes_history
        (createTime, donorID, buyerID, story, clothesID) VALUES
        (#{createTime}, #{donorID}, #{buyerID}, #{story}, #{clothesID})
    </insert>

    <update id="updateClothesHistory" parameterType="ClothesHistory">
        UPDATE clothes_history
        SET donorID=#{donorID}, buyerID=#{buyerID}, story=#{story}, clothesID=#{clothesID}
        WHERE historyID=#{historyID}
    </update>

    <select id="findClothesHistoryByClothesID" parameterType="String" resultType="ClothesHistory">
        SELECT * FROM clothes_history
        WHERE clothesID=#{clothesID}
        ORDER BY createTime ASC
    </select>
</mapper>