<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定我们的到具体的bean -->
<mapper namespace="nju.mapper.UserMapper">
    <!--查找-->
    <select id="findOneByID" resultType="User" parameterType="String">
        SELECT * FROM student WHERE personID=#{ID}
    </select>

    <select id="findOneByUsername" resultType="User" parameterType="String">
        SELECT * FROM student WHERE username=#{username}
    </select>

    <!--新增-->
    <insert id="add" parameterType="User">
        INSERT
        INTO student
        (username, password, wechatID, phone, realName, gender, personID, credits, email, picurl,
        used,school,sgrade,sclass)
        VALUES
        (#{username},#{password},#{wechatID},#{phone},#{realName},#{gender},#{personID},#{credits},#{email},#{picurl},#{used},#{school},#{sgrade},
        #{sclass})
    </insert>

    <!--删除-->
    <update id="delete" parameterType="User">
        UPDATE
        student
        SET
        used=FALSE
        WHERE personID=#{personID}
    </update>

    <!--更新-->
    <update id="update" parameterType="User">
        UPDATE
        student
        SET
        username=#{username}, password=#{password}, wechatID=#{wechatID},phone=#{phone},
        realName=#{realName},gender=#{gender},personID=#{personID},credits=#{credits},email=#{email},picurl=#{picurl},used=#{used},school=#{school},sgrade=#{sgrade},sclass=#{sclass}
        WHERE
        personID=#{personID}
    </update>

    <!--获得全部-->
    <select id="findAll" resultType="User">
        SELECT *
        FROM student
    </select>

    <select id="getAllCreditsByGrade" parameterType="String" resultType="CreditStatistic">
        SELECT school, sgrade, SUM(credits) AS credits
        FROM student
        WHERE school=#{0} AND sgrade=#{1}
        GROUP BY school, sgrade
    </select>

    <select id="getAllGradeCreditsSum" parameterType="String" resultType="CreditStatistic">
        SELECT school, sgrade, SUM(credits) AS credits
        FROM student
        WHERE school=#{school}
        GROUP BY school, sgrade
    </select>

    <select id="getAllCreditsByGradeAndClass" parameterType="String" resultType="CreditStatistic">
        SELECT school, sgrade, sclass, SUM(credits) AS credits
        FROM student
        WHERE school=#{0} AND sgrade=#{1} AND sclass=#{2}
        GROUP BY school, sgrade, sclass
    </select>

    <select id="getAllClassCreditsSumByGrade" parameterType="String" resultType="CreditStatistic">
        SELECT school, sgrade, sclass, SUM(credits) AS credits
        FROM student
        WHERE school=#{0} AND sgrade=#{1}
        GROUP BY school, sgrade, sclass
    </select>

    <select id="getAllClassCreditsSumBySchool" parameterType="String" resultType="CreditStatistic">
        SELECT school, sgrade, sclass, SUM(credits) AS credits
        FROM student
        WHERE school=#{school}
        GROUP BY school, sgrade, sclass
    </select>

    <select id="findUserByClass" parameterType="String" resultType="User">
        SELECT * FROM student
        WHERE school=#{0} AND sgrade=#{1} AND sclass=#{2}
    </select>

    <select id="findUserByGrade" parameterType="String" resultType="User">
        SELECT * FROM student
        WHERE school=#{0} AND sgrade=#{1}
    </select>

    <select id="findUserBySchool" parameterType="String" resultType="User">
        SELECT * FROM student
        WHERE school=#{school}
    </select>

</mapper>
